---
layout: default
---

<article>
    <content class="">
      <h1>{{ page.title }}</h1>
      <div class="muted ms2 font-ui">
        <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
          {% if page.type != 'pages' %}
            {% capture words %}
            {{ content | number_of_words }}
            {% endcapture %}

            {{ page.last_modified_at | date: "%B %-d, %Y" }} · <span class="reading-time" title="Estimated read time">{{ words | divided_by: 180 }} minute read</span>
          {% endif %}
        </time>
      </div>

      {{ content }}
      <hr>
    </content>

    {% if page.backlinks.size > 0 %}
    <div class="bt pn4 mn4">
      <div class="wrap ps4">
        <div class="muted ppb font-ui">Linked mentions</div>

          <div class="backlinks">
          {% for backlink in page.backlinks %}

            <a class="backlink plain internal-link" href="{{ site.baseurl }}/{{ backlink.url }}">
              <div class="small">{{ backlink.title }}</div>
              <div class="muted smaller pt">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
            </a>

          {% endfor %}
          </div>

        </div>
      </div>
    </div>
    {% endif %}
</article>


<!-- <p>Here are all the notes in this garden, along with their links, visualized as a graph.</p> -->

<!-- {% include notes_graph.html %} -->
